.card-container{
    height: 370px;
    width: 300px;
    padding-right: 30px;
    padding-bottom: 30px;
    display:inline-block;
}
.card{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;;
    margin: 1rem;
    overflow: hidden;
    width: 268px;
    height: 100%;
    backdrop-filter: blur(1rem);
    background-color: rgba(255, 255, 255, 0.060);
    border: .1rem solid rgb(76, 209, 165);
    color: black; 
}
/* .card:hover{
    background-color: #a31c98;
    color: black;
} */
.background-top-row{
    background-color: rgb(76, 209, 165);
    color: black;
}
.image-container{ 
        border-radius: 8px 8px 0 0 ;
        height: 100%;
        width: 100%;
        object-fit: cover;
}
.temps {
    color:black;
    padding-top: 15px;
    padding-bottom: 20px;
    
}
.weight{
    transform: translate(45%, -520%);
    position: absolute;
    margin-bottom: 5px;
    
}
.imagenenen{
    width: 180px;
    height: 130px;
}

