.card-container{
    height: 200px;
    width: 300px;
    display:inline-block;
}

.card{
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    margin: 1rem;
    overflow: hidden;
    width: 15rem;
    backdrop-filter: blur(1rem);
    background-color: rgba(255, 255, 255, 0.060);
    border: .1rem solid #1ca381;
    color: black; 
}
.background-top-row{
    background-color: #1ca381;
    color: black;
}
.img-dog{
    /* width: 150px;
    height: 150px; */
    margin-bottom: 30px;
    object-fit:fill;
}
.temps {
    color:white;
    /* backdrop-filter: blur(1rem); */
    /* background-color: #1ca381; */
    padding-top: 15px;
    padding-bottom: 20px;
}
.weight{
    padding: 10px;
}
