.input-form{
    height: 30px;
    width: 90px;
    backdrop-filter: blur(1rem);
    border: solid  rgb(76, 209, 165) 1px;
    border-radius: 50px;
    margin-right: 20px;
    background-color: transparent;
    color:white;
    letter-spacing: 2px;
    margin: 5px;
    padding: 10px;
}
.input-name{
    height: 30px;
    width: 300px;
    backdrop-filter: blur(1rem);
    border: solid  rgb(76, 209, 165) 1px;
    border-radius: 50px;
    margin-right: 20px;
    background-color: rgb(76, 209, 165) ;
    color:white;
    letter-spacing: 2px;
    margin: 5px;
    padding-left: 20px;
}

.form-container{
    display:flex;
    
    justify-content: center;
    align-items: center;
    
}
.created-card{
    height:550px;
    width: 700px;
    backdrop-filter: blur(1rem);
    border: solid  rgb(76, 209, 165) 1px;
    border-radius: 50px;
    margin-right: 20px;
    background-color:  rgb(77, 73, 73);
    
  
}
.texto{
    color: black;
    font-size:20px;
    padding-right: 15px;
    
}
.error{
    color:red;
}

.temps-div{
    background-color: transparent;
}

.lifeSpan{
    padding-right: 30px;
    
    color: black;
    font-size:20px;
}
.input-form-lifeSpan{
   
    height: 30px;
    width: 90px;
    backdrop-filter: blur(1rem);
    border: solid black 1px;
    border-radius: 50px;
    margin-right: 200px;
    background-color:rgb(76, 209, 165);
    color:black;
    letter-spacing:2px;
    margin: 5px;
    padding-left: 10px;
}

.select-form{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 30px;
    background-color:rgb(76, 209, 165) ;
    border: .1rem solid black ;
    color: black;
    margin: .5rem;
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}
.select-form:hover{
    background-color:  rgb(77, 73, 73);
    color: rgb(76, 209, 165);
}
.submit-button{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 30px;
    background-color:rgb(76, 209, 165) ;
    border: .1rem solid black ;
    color: black;
    margin: .5rem;
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}
.submit-button:hover{
    color: rgb(76, 209, 165);
    background-color: rgb(77, 73, 73);
    border: .1rem solid rgb(76, 209, 165);
}
.submit-button:active{
    box-shadow: 0px 0px 1px black;
    transform: translateY(5px);

}
.disable-button{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 30px;
    background-color:transparent ;
    border: .1rem solid rgb(76, 209, 165);
    margin: .5rem;
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
    
}

.button-back{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 30px;
    background-color:rgb(76, 209, 165) ;
    border: .1rem solid black ;
    color: black;
    
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}
.button-back:hover{
    color: rgb(76, 209, 165);
    background-color: rgb(77, 73, 73);
    border: .1rem solid rgb(76, 209, 165);
}
.button-back:active{
    box-shadow: 0px 0px 1px black;
    transform: translateY(5px);
    
}
.back-container{
    padding-bottom: 30px;
    margin-top: 30px;
}
.x-button{
    font-size: 20px;
    color: white;
    padding-left: 20px;
}
h1{
    padding: 10px;
}
input.input-form{
    background-color:rgb(76, 209, 165); 
    border: .1rem solid black;
    color: black;
    
}

