.input-form{
    height: 30px;
    width: 90px;
    backdrop-filter: blur(1rem);
    border: solid  rgb(76, 209, 165) 1px;
    border-radius: 50px;
    margin-right: 20px;
    background-color: transparent;
    color:black;
    letter-spacing: 2px;
    margin: 5px;
    padding: 10px;
}
.input-name{
    height: 30px;
    width: 300px;
    backdrop-filter: blur(1rem);
    border: solid  rgb(76, 209, 165) 1px;
    border-radius: 50px;
    margin-right: 20px;
    background-color: rgb(76, 209, 165) ;
    color:black;
    letter-spacing: 2px;
    margin: 5px;
    padding-left: 20px;
}
.form-container{
    display:flex;
    justify-content: center;
    align-items: center;
    transform: translate(60%, -15%);
    width: 600px;
    margin-top: 30px;
}
.created-card{
    height:620px;
    width: 600px;
    backdrop-filter: blur(1rem);
    border: solid  rgb(76, 209, 165) 1px;
    border-radius: 50px;
    margin-right: 20px;
    background-color:  rgb(77, 73, 73);
}
.texto{
    color: black;
    font-size:20px;
    padding-right: 15px;
}
.error{
    color:rgb(0, 255, 255);
}
.temps-div{
    background-color: transparent;
}
.lifeSpan{
    padding-right: 30px;
    color: black;
    font-size:20px;
}
.input-form-lifeSpan{
    height: 30px;
    width: 90px;
    backdrop-filter: blur(1rem);
    border: solid black 1px;
    border-radius: 50px;
    margin-right: 200px;
    background-color:rgb(76, 209, 165);
    color:black;
    letter-spacing:2px;
    margin: 5px;
    padding-left: 10px;
}
.select-form{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 30px;
    background-color:rgb(76, 209, 165) ;
    border: .1rem solid black ;
    color: black;
    margin-top: .5rem;
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
    transform: translate(0%, 50%);
}
.select-form:hover{
    background-color:  rgb(77, 73, 73);
    color: rgb(76, 209, 165);
}
.submit-button{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 30px;
    background-color:rgb(76, 209, 165) ;
    border: .1rem solid black ;
    color: black;
    letter-spacing: 2px;
    margin-left: 13%;
    text-align: center;
    font-size: 18px;
}
.submit-button:hover{
    color: rgb(76, 209, 165);
    background-color: rgb(77, 73, 73);
    border: .1rem solid rgb(76, 209, 165);
}
.submit-button:active{
    box-shadow: 0px 0px 1px black;
    transform: translateY(5px);
}
.disable-button{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 30px;
    background-color:transparent ;
    border: .1rem solid rgb(76, 209, 165);
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
    transform: translate(-4%, 0%);
}
.back{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 30px;
    background-color:rgb(76, 209, 165) ;
    border: .1rem solid black ;
    color: black;
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}
.back:hover{
    color: rgb(76, 209, 165);
    background-color: rgb(77, 73, 73);
    border: .1rem solid rgb(76, 209, 165);
}
.back:active{
    box-shadow: 0px 0px 1px black;
    transform: translateY(5px);
}
.back-container-b{
    padding-bottom: 30px;
    margin-top: 30px;
    transform: translate(30%, 150%);
}
.x-button{
    font-size: 20px;
    color: white;
    padding-left: 20px;
    padding-top: 20px;
    transform: translate(0%, 50%);
    padding-bottom: 0%;
}
ul{
    margin: 0%;
}
h1{
    padding: 10px;
}
input.input-form{
    background-color:rgb(76, 209, 165); 
    border: .1rem solid black;
    color: black;
}
.submit-form{
    transform: translate(73%, 230%);
    position:fixed
}
label.lifeSpan{
    padding-right: 40px;
}
.label{
    transform: translate(-20%, 40%);
    height: 45px;
}
p.error{
    transform: translate(150%, -160%);
    width: 270px;
}
p.error-wm{
    transform: translate(142%, -160%);
    color:rgb(0, 255, 255);
    width: 270px;
}
p.error-ls{
    transform: translate(153%, -160%);
    color:rgb(0, 255, 255);
    width: 270px;
}
p.error-name{
    transform: translate(6%, 60%);
    color:rgb(0, 255, 255);
}
.image-div{
    transform: translate(-6%, 30%);
    padding-bottom: 30px;
}
.name-div{
    transform: translate(-6%, 0%);
}
p.error-img{
    transform: translate(1%, 60%);
    color:rgb(0, 255, 255);
}

