.input-form{
    height: 30px;
    width: 80px;
    backdrop-filter: blur(1rem);
    border: solid  rgb(76, 209, 165) 1px;
    border-radius: 50px;
    margin-right: 20px;
    background-color: transparent;
    color:white;
    letter-spacing: 2px;
    margin: 5px;
    padding-left: 10px;
}
.input-name{
    height: 30px;
    width: 300px;
    backdrop-filter: blur(1rem);
    border: solid  rgb(76, 209, 165) 1px;
    border-radius: 50px;
    margin-right: 20px;
    background-color: transparent;
    color:white;
    letter-spacing: 2px;
    margin: 5px;
    padding-left: 10px;
}
.form-container{
    display:flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    
}
.created-card{
    height: 500px;
    width: 500px;
    backdrop-filter: blur(1rem);
    border: solid  rgb(76, 209, 165) 1px;
    border-radius: 50px;
    margin-right: 20px;
    background-color:  transparent;
  
}
.texto{
    color: white;
    font-size:20px;
}
.error{
    color:red;
}

.temps-div{
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    cursor: pointer;
    height: 185px;
    overflow: hidden;
    backdrop-filter: blur(1rem);
    background-color: transparent;
    color: black;
    letter-spacing: 2px;
    text-align: center;
}
.submit-form{
    backdrop-filter: blur(1rem);
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 30px;
    backdrop-filter: blur(1rem);
    background-color: transparent;
    border: .1rem solid #1ca381 ;
    color: black;
    margin: 65px;
    letter-spacing: 2px;
    margin-left: 140px;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}
.submit-form:hover{
    background-color: #1ca381;
    color: black;
}
.lifeSpan{
    padding-right: 30px;
    
    color: white;
    font-size:20px;
}
.input-form-lifeSpan{
   
    height: 30px;
    width: 80px;
    backdrop-filter: blur(1rem);
    border: solid  rgb(76, 209, 165) 1px;
    border-radius: 50px;
    margin-right: 200px;
    background-color:transparent;
    color:white;
    letter-spacing:2px;
    margin: 5px;
    padding-left: 10px;
}

.select-form{
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    cursor: pointer;
    backdrop-filter: blur(1rem);
    overflow: hidden;
    width: 220px;
    height: 30px;
    backdrop-filter: blur(1rem);
    background-color:rgb(76, 209, 165);
    border: .1rem solid rgb(76, 209, 165);
    color: black;
    margin: .5rem;
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
}
.select-form:hover{
    background-color:  rgb(77, 73, 73);
    color: rgb(76, 209, 165);
}
.submit-button{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 30px;
    background-color:rgb(76, 209, 165) ;
    border: .1rem solid black ;
    color: black;
    margin: .5rem;
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}
.submit-button:hover{
    color: white;
}
.disable-button{
    background-color: transparent;
    font-size: 18px;
    text-align: center;
    justify-content: center;
    
}

.button-back{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    cursor: pointer;
    overflow: hidden;
    width: 220px;
    height: 30px;
    background-color:rgb(76, 209, 165) ;
    border: .1rem solid black ;
    color: black;
    margin: .5rem;
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}
/* .button-back:hover{
    color: rgb(76, 209, 165);
    background-color: rgb(77, 73, 73);
    border: .1rem solid rgb(76, 209, 165);
} */
.back:active{
    box-shadow: 0px 0px 1px black;
    transform: translateY(5px);
    
}
.back-container{
    margin-right: 100px;
    margin-bottom: 450px;
}
.x-button{
    font-size: 20px;
    color: white;
    padding-left: 20px;
}

