*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: none;
}
.home{
    background-color: rgb(132, 134, 136);
    
    
}
.cardsContainer{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.content-select{
    padding-left: 110px;
    cursor: pointer;
    width: 300px;
    background-color: transparent;
    margin: .5rem;
}
.search-bar{
    color: black;
    height: 100;
    align-items: center;
    background-color:transparent;
}

.elementNB{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    /* box-shadow: 0 1rem 1rem rgba(0,0,0,0.2); */
    cursor: pointer;
    backdrop-filter: blur(1rem);
    overflow: hidden;
    width: 200px;
    height: 30px;
    backdrop-filter: blur(1rem);
    background-color: transparent;
    border: .1rem solid rgb(76, 209, 165) ;
    color: black;
    margin: .5rem;
    letter-spacing: 2px;
    margin-left: 15px;
    text-align: center;
    font-size: 15px;
    margin-top: 17px;
}

.elementNB:hover{
    background-color: rgb(76, 209, 165);
    color: black;
}
.elementNA{
    border-radius: 1rem;
    box-shadow: 5px 8px 12px black;
    /* box-shadow: 0 1rem 1rem rgba(0,0,0,0.2); */
    cursor: pointer;
    backdrop-filter: blur(1rem);
    overflow: hidden;
    width: 220px;
    height: 30px;
    backdrop-filter: blur(1rem);
    background-color: transparent;
    border: .1rem solid rgb(76, 209, 165) ;
    color: rgb(76, 209, 165);
    margin: .5rem;
    letter-spacing: 2px;
    margin-left: 20px;
    text-align: center;
    font-size: 18px;
}
.elementNA:hover{
    color: white;
}


.container{
    display: flex;
}
.padr{
    padding-left: 100px;
    position: absolute;
    top: 30%;
    right: 35%;
    transform: translate(100%, -120%);
 }
 .padl{
    padding-left: 100px;
    position: absolute;
    top: 30%;
    right: 35%;
    transform: translate(100%, -30%);
 }
 .pad{
    padding-left: 100px;
    position: absolute;
    top: 20%;
    right: 30%;
    transform: translate(-23%, 186%);
 }
.header {
    margin-left: 130px;
    /* margin-top: 200 auto; */
    width:1160px;
    height:310px;
    overflow: hidden;
    position: relative;
    border-radius: 20px;
    box-shadow: 5px 8px 12px black;
}
.header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    bottom: 100px;
}
.header p{
    font-size: 6rem;
    color:rgb(76, 209, 165);
    position: absolute;
    top: 45%;
    left: -2%;
    transform: translate(35%, -120%);
}
.header h3{
    font-size: 2rem;
    color: rgb(76, 209, 165);
    position: absolute;
    top: 39%;
    right: 67%;
}

.papeiners{
    margin-bottom: 20px;
}
.paginado{
    margin-top: 200 px;
}
