
/* background-image: url('./styles/dog.jpg'); */
.landingButton {
    border-radius: 16px;
    background-color: rgb(76, 209, 165) ;
    color: black;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 450px;
    transition: all 0.5s;
    cursor: pointer;
    top:10%;
    left: 34%;
    position:absolute;
    backdrop-filter: blur(1rem);
    /* transform: translate(-20%, -25%); */
    box-shadow: 10px 10px 10px black;
  }
  .landingButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  .landingButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .landingButton:hover span {
    padding-right: 25px;
  }
  .landingButton:hover span:after {
    opacity: 1;
    right: 1;
  }
  .landingButton:active{
    box-shadow: 0px 0px 10px black;
    transform: translate(-5px,5px);
}