.number{
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    cursor: pointer;
    backdrop-filter: blur(1rem);
    overflow: hidden;
    width: 2.5rem;
    backdrop-filter: blur(1rem);
    background-color: transparent;
    border: .1rem solid rgb(76, 209, 165);
    color: rgb(0, 0, 0);
    margin: .5rem;
    margin-bottom: 20px;
    box-shadow: 5px 8px 12px rgb(44, 43, 43);
    transform: translate(0%, -40%);
}
.number:hover{
    background-color: rgb(76, 209, 165);
}
.flechas{
    width: 50px;
    height: 30px;
    background-color: transparent;
    border: .1rem solid rgb(76, 209, 165);
    backdrop-filter: blur(1rem);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 5px 8px 12px rgb(44, 43, 43);
    margin-bottom: 20px;
    transform: translate(0%, -30%);
}

.flechas:hover{

    color: black;
    background-color: rgb(76, 209, 165);
}
.button-div{
    padding: 30px;
}
nav{
    padding: 90px;
}
