.input{
    height: 30px;
    width: 430px;
    backdrop-filter: blur(1rem);
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    padding-left: 10px;
    border: solid  black 1px;
    border-radius: 50px;
    background-color:  rgb(76, 209, 165);
    box-shadow: 5px 8px 12px black;
    font-size: 16px;
}
::placeholder { 
    color: rgb(0, 0, 0);
    opacity: 1;
    font-size: 16px;
}
.searcho{
    background-color: transparent;
    color: black;
    height: 10px;
    width: 140px;
    cursor: pointer;
    font-size: 40px;
    transform: translate(170%, -450%); 
}
.searcho:hover{
    color: rgb(76, 209, 165);    
}



