.group{
    margin-left: 138px;
    margin-top: 10px;
    margin-bottom: 30px;
    border-radius: 300px;
    height: 30px;
    width: 500px;
    display: flex;
    
}

.input{
    height: 30px;
    width: 400px;
    backdrop-filter: blur(1rem);
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    padding-left: 10px;
    border: solid  rgb(76, 209, 165)1px;
    border-radius: 50px;
    background-color:  rgb(76, 209, 165);
    box-shadow: 5px 8px 12px black;
    font-size: 16px;
}
::placeholder { 
    color: rgb(0, 0, 0);
    opacity: 1;
    font-size: 16px;
    
}

.searcho{
    background-color: transparent;
    border-top-color: black 1px;
    color: rgb(76, 209, 165);
    
    height: 10px;
    width: 150px;
    cursor: pointer;
    font-size: 40px;
    transform: translate(-20%, -60%);
    
    
}


.searcho:hover{
    color: rgb(255, 255, 255);
    
}
.pad{
    padding-right: 80px;
}


